{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1>All projects</h1>
<div class="projects">
    {% for project in projects %}
    <div class="project">
        <img src="{{ url_for('static', filename='images/' + project.image) }}" alt="{{ project.title }}">
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
        <a href="{{ url_for('project_detail', project_id=project.id) }}">View Details</a>
    </div>
    {% endfor %}
</div>
{% endblock %}  